{% load tz %}
<div class="col-lg-4">
    <script type="text/javascript">
    </script>
    <div class="card h-100 mb-3" id="simple_clock_widget">
        {% csrf_token %}
        <div class="card-header bg-light d-flex flex-between-center py-2">
            <h5 class="mb-0">{{ tt_user_info.get_status_text_display }}</h5>
            <h5 class="mb-0">{{ tt_user_info.status_time|localtime}}</h5>
        </div>
        <div class="card-body">
            <div class="row g-3 h-100">
                <div class="col-sm-6 col-lg-12">
                    <textarea class="form-control" name="comment" cols="40" rows="3"
                              id="simple_clock_comment" placeholder="Comment"></textarea>
                </div>
                <div class="col-sm-6 col-lg-12">
                    {% if tt_user_info.status_text == "o" or tt_user_info.status_text == "n" %}
                    <button class="btn btn-primary d-block w-100 mt-3" onclick="submit_update_widget('{% url 'simple_clock' %}', [{name:'action', value:'in'}], '#simple_clock_widget')"
                            name="clock_in">
                        Clock In
                    </button>
                    {% elif tt_user_info.status_text == "i" or tt_user_info.status_text == "c" %}
                    <button class="btn btn-primary d-block w-100 mt-3" onclick="submit_update_widget('{% url 'simple_clock' %}', [{name:'action', value:'out'}], '#simple_clock_widget')"
                            name="clock_out">Clock Out
                    </button>
                    {% endif %}
                    {% if tt_user_info.enable_breaks %}
                    {% if tt_user_info.status_text == "i" or tt_user_info.status_text == "c" %}
                    <button class="btn btn-primary d-block w-100 mt-3" onclick="submit_update_widget('{% url 'simple_clock' %}', [{name:'action', value:'b_in'}], '#simple_clock_widget')"
                            name="start_break">Start Break
                    </button>
                    {% elif tt_user_info.status_text == "b" %}
                    <button class="btn btn-primary d-block w-100 mt-3" onclick="return submit_update_widget('{% url 'simple_clock' %}', [{name:'action', value:'b_out'}], '#simple_clock_widget');"
                            name="end_break">End Break
                    </button>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>