<div class="col-lg-4">
    <script type="text/javascript">
    function submit_clock_action(action){
        $.ajax({
            type:'POST',
            url:'{% url 'simple_clock' %}',
            data:
            {
                action: action,
                comment: $("#simple_clock_comment").val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(response){
                $("#simple_clock_widget").html($(response).find("#simple_clock_widget").html());
                }
            })
    }
    </script>
    <div class="card h-100 mb-3" id="simple_clock_widget">
        {% csrf_token %}
        <div class="card-header bg-light d-flex flex-between-center py-2">
            <h6 class="mb-0">{{ user_info.get_status_text_display }}</h6>
            <h6 class="mb-0">{{ user_info.status_time }}</h6>
        </div>
        <div class="card-body">
            <div class="row g-3 h-100">
                <div class="col-sm-6 col-lg-12">
                    <textarea class="form-control" name="comment" cols="40" rows="3"
                              id="simple_clock_comment"></textarea>
                </div>
                <div class="col-sm-6 col-lg-12">
                    {% if user_info.status_text == "o" or user_info.status_text == "n" %}
                    <button class="btn btn-primary d-block w-100 mt-3" onclick="submit_clock_action('in')"
                            name="clock_in">
                        Clock In
                    </button>
                    {% elif user_info.status_text == "i" or user_info.status_text == "c" %}
                    <button class="btn btn-primary d-block w-100 mt-3" onclick="submit_clock_action('out')"
                            name="clock_out">Clock Out
                    </button>
                    {% endif %}
                    {% if user_info.enable_breaks %}
                    {% if user_info.status_text == "i" or user_info.status_text == "c" %}
                    <button class="btn btn-primary d-block w-100 mt-3" onclick="submit_clock_action('b_in')"
                            name="start_break">Start Break
                    </button>
                    {% elif user_info.status_text == "b" %}
                    <button class="btn btn-primary d-block w-100 mt-3" onclick="submit_clock_action('b_out')"
                            name="end_break">End Break
                    </button>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>