{% extends "general/card.html" %}
{% block title %}Reset new password{% endblock %}
{% block card_body %}
{% if validlink %}
<h5 class="text-center">Reset new password</h5>
<form class="mt-3" action="" method="post">
    {% csrf_token %}
    {% if form.new_password1.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p>{{ form.new_password1.errors }}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% if form.new_password2.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p>{{ form.new_password2.errors }}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <div class="mb-3">
        <label class="form-label"></label>
        <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="New Password">
    </div>
    <div class="mb-3">
        <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="Confirm Password">
    </div>
    <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Set password</button>
</form>
{% else %}
<div class="text-center">
<h1 id="content">{# This is so we can have the focus thingy #}Password reset failed</h1>
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset link.</p></div>
{% endif %}
{% endblock %}