{% extends "signin.html" %}

{% block content %}
{% if validlink %}
<h1 class="h3 mb-3 font-weight-normal" id="content">{# This is so we can have the focus thingy #}Change password</h1>
<p>Please enter (and confirm) your new password.</p>
<form action="" method="post">
    {% csrf_token %}
    {# TODO: Use a for loop to do this in a much better way#}
    {% if form.new_password1.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <p>{{ form.new_password1.errors }}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% if form.new_password2.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <p>{{ form.new_password2.errors }}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <table style="margin:auto">
        <tr>
            <td>
                <label for="id_new_password1">New password:</label></td>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td>
                <label for="id_new_password2">Confirm password:</label></td>
            <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Change my password" class="btn btn-primary"/></td>
        </tr>
    </table>
</form>
{% else %}
<h1 id="content">{# This is so we can have the focus thingy #}Password reset failed</h1>
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password
    reset.</p>
{% endif %}
{% endblock %}