{% extends "general/card.html" %}
{% block title %}Reset Password{% endblock %}
{% block card_body %}
<form class="form-signin" action="" method="post" id="content">{# This is so we can have the focus thingy #}
    {% csrf_token %}
    {% if form.email.errors %}
    {{ form.email.errors }}
    {% endif %}
    <h4 class="text-center">Reset password</h4>
    <div class="mb-3">
        <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required=""
               id="id_email" placeholder="Email address">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Send a reset password link to my
            email
        </button>
    </div>
</form>
{% endblock %}
{% block afterScripts %}
<script type="text/javascript">
'use strict';
$(document).ready(()=>{
	$("#{{ form.email.id_for_label }}").on("change keypress",function(){
      if($(this).val().trim().length>0){
          $("#submit_email").removeClass("disabled");
      }else{
          $("#submit_email").addClass("disabled");
      }
  });
})

</script>{% endblock %}