{% extends "signin.html" %}

{% block content %}
<form class="form-signin" action="" method="post" id="content">{# This is so we can have the focus thingy #}
	{% csrf_token %}
	{% if form.email.errors %}
		{{ form.email.errors }}
	{% endif %}
	<h1 class="h3 mb-3 font-weight-normal">Please enter your email address</h1>
	<p>{{ form.email }}</p>
	<input type="submit" class="btn btn-primary btn-lg disabled" id="submit_email" value="Send reset password email">
</form>
{% endblock %}
{% block afterScripts %}<script type="text/javascript">
'use strict';
$(document).ready(()=>{
	$("#{{ form.email.id_for_label }}").on("change keypress",function(){
      if($(this).val().trim().length>0){
          $("#submit_email").removeClass("disabled");
      }else{
          $("#submit_email").addClass("disabled");
      }
  });
})
</script>{% endblock %}