{% extends "general/card.html" %}
{% load static %}
{% block title %}Create an account{% endblock %}
{% block alerts_above_card %}
{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ form.errors}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endblock %}
{% block card_body %}
<div class="row flex-between-center mb-2">
    <div class="col-auto">
        <h5>Register</h5>
    </div>
    <div class="col-auto fs--1 text-600"><span class="mb-0 undefined">Have an account?</span> <span><a
            href="{% url 'login'%}">Login</a></span></div>
</div>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <input class="form-control" autocomplete="first-name" type="text" name="first_name" maxlength="50" required="" id="id_first_name" placeholder="First name">
    </div>
    <div class="mb-3">
        <input class="form-control" autocomplete="last-name" type="text" name="last_name" maxlength="100" required="" id="id_last_name" placeholder="Last name">
    </div>
    <div class="mb-3">
        <input class="form-control" autocomplete="email" type="email" name="email" maxlength="254" required="" id="id_email" placeholder="Email address">
    </div>
    <div class="mb-3">
            <input class="form-check-input" type="checkbox" name="agree_to_terms_and_conditions" required="" id="id_agree_to_terms_and_conditions">
            <label class="form-label" for="id_agree_to_terms_and_conditions">I accept the <a href="#!">terms </a>and <a
                    href="#!">privacy
                policy</a></label>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Register</button>
    </div>
</form>
<div class="position-relative mt-4">
    <hr/>
    <div class="divider-content-center">or register with</div>
</div>
<div class="row g-2 mt-2">
    <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100" href="#"><span
            class="fab fa-google-plus-g me-2" data-fa-transform="grow-8"></span> google</a></div>
    <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100" href="#"><span
            class="fab fa-facebook-square me-2" data-fa-transform="grow-8"></span> facebook</a></div>
</div>
{% endblock %}