<div class="col-lg-4">
    <div class="card mb-3" id="employee_status_table_widget">
        <div class="card-header">
            <div class="col-auto align-self-center">
                <h5 class="mb-0">Employees</h5>
            </div>
        </div>
        <div class="card-body pt-0 px-0">
            <div data-list='{"valueNames":["name","email","active"],"page":20,"pagination":true}'
                 id="employee_status_table">
                <div class="row justify-content-end g-0">
                    <div class="col-auto col-sm-5 mb-3 px-2">
                        <form>
                            <div class="input-group">
                                <input aria-label="search" class="form-control form-control-sm shadow-none search"
                                       placeholder="Search..." type="search"/>
                                <div class="input-group-text bg-transparent"><span
                                        class="fa fa-search fs--1 text-600"></span></div>
                            </div>
                        </form>
                    </div>
                    <div class="col-auto px-2">
                            <button class="btn btn-primary btn-sm" type="button" onclick="open_employee_modal()">
                                <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                                <span class="d-none d-sm-inline-block ms-1">New</span>
                            </button>
                        </div>
                </div>
                <div class="table-responsive scrollbar">
                    <table class="table table-sm table-striped fs--1 mb-0 overflow-hidden">
                        <thead class="bg-200 text-900">
                        <tr>
                            <th class="sort pe-1 align-middle" data-sort="name">Name</th>
                            <th class="sort pe-1 align-middle" data-sort="email">Email</th>
                            <th class="sort pe-1 align-middle" data-sort="active">Active</th>
                            <th class="pe-1 align-middle"/>
                        </tr>
                        </thead>
                        <tbody class="list">
                        {% for employee in employees %}
                        <tr id="employee-row-{{ employee.pk }}">
                            <td class="name align-middle py-2">{{ employee.name }}</td>
                            <td class="email align-middle py-2">{{ employee.email }}</td>
                            <td class="active align-middle py-2">
                                {% if employee.active %}
                                <span class="badge badge rounded-pill badge-soft-success"><span
                                        class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span></span>
                                {% else %}
                                <span class="badge badge-pill badge-soft-danger"><span class="ms-1 fas fa-times"
                                                                                       data-fa-transform="shrink-2"></span></span>
                                {% endif %}
                            </td>
                            <td>
                                <button class="btn btn-danger" onclick="delete_employee({{ employee.pk }})">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button class="btn btn-sm btn-falcon-default me-1" data-list-pagination="prev" title="Previous"
                            type="button"><span class="fas fa-chevron-left"></span></button>
                    <ul class="pagination mb-0"></ul>
                    <button class="btn btn-sm btn-falcon-default ms-1" data-list-pagination="next" title="Next"
                            type="button"><span class="fas fa-chevron-right"> </span></button>
                </div>
            </div>
        </div>
    </div>
</div>