{% extends "admin.html" %}

{% block title  %}Admin Dashboard{% endblock %}
{% block header %}Admin Dashboard{% endblock %}

{% block content %}
	{# <!--TODO: consider putting a paginator above the table too--> #}
	<table class="table table-striped border{% if paginator_view|length > 10 %} table-sm{% endif %}" id="content">{# This is so we can have the focus thingy #}
    <caption>Employee List</caption>
		<thead>
		<tr>
			<th scope="col">Edit</th>
			<th scope="col">Name</th>
			<th scope="col">Action</th>
			<th scope="col">Time</th>
			<th scope="col">Comment</th>
			{#<!--A note to anyone changing the number of columns: don't forget to adjust the colspan of the "you don't have employees" thing!-->#}
		</tr>
		</thead>
		<tbody>
		{% for employee in paginator_view %}
			<tr>
				{#<!--td><a href="{% url 'edit_employee' employee.id %}" class="btn btn-sm btn-dark">Edit</a></td-->#}
				<td>
					{% comment %}
					<!--div class="btn-group">
						<a href="{% url 'edit_employee' employee.id %}" class="btn btn-sm btn-dark">Edit</a>
						<button type="button" class="btn btn-sm btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">
							<a href="{% url 'edit_employee' employee.id %}" class="dropdown-item"><i class="fas fa-pen mr-2" aria-hidden="true"></i>Edit Employee</a>
							<a href="{% url 'admin_modify_times_table' employee.id %}" class="dropdown-item"><i class="fas fa-clock mr-2" aria-hidden="true"></i>Modify Times</a>
						</div>
					</div-->
					{% endcomment %}
					<div class="btn-toolbar">
						<a href="{% url 'edit_employee' employee.id %}" class="btn btn-sm btn-primary" data-toggle="tooltip"
						   title="Edit Employee">
							<span class="sr-only">Edit Employee</span>
							<i class="fas fa-user-edit" aria-hidden="true"></i>
						</a>
						<a href="{% url 'admin_modify_times_table' employee.id %}" class="btn btn-sm btn-secondary"
						   data-toggle="tooltip" title="Modify Times">
							<span class="sr-only">Modify Times</span>
							<i class="fas fa-user-clock" aria-hidden="true"></i>
						</a>
					</div>
				</td>
				<td>{{employee.last_name}}, {{ employee.first_name }}{% if employee.middle_name %} {{ employee.middle_name }}{% endif %}</td>
				<td>{% if employee.status %}{{employee.status}}{% else %}<i class="text-muted">No Actions</i>{% endif %}</td>
				<td>{% if employee.time %}{{employee.date}}, {{employee.time}}{% else %}<i class="text-muted">N/A</i>{% endif %}</td>
				<td>{% if employee.time_action__comment and employee.time_action__comment.strip %}{{employee.time_action__comment}}{% else %}<i class="text-muted">No Comment</i>{% endif %}</td>
			</tr>
		{% empty %}
			<tr>
				<td colspan="5" class="text-center">You don't seem to have any employees. <a href="{% url 'create_employee' %}">Add some?</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{% if paginator_range_num_pages|length > 1 %}
		<form class="form-inline">
			{% csrf_token %}
			<nav aria-label="View more employees">
				{# <!--TODO: only show a range of options within 5 pages of this one. Should always show the word buttons, but also always show the first and last--> #}
				<ul class="pagination">
					<li class="page-item{% if paginator_cur_page == 1 %} disabled{% endif %}">
						{% if paginator_cur_page == 1 %}
							<span class="page-link">First</span>
						{% else %}
							<button class="page-link" type="submit" name="page" value="1">First</button>
						{% endif %}
					</li>
					<li class="page-item{% if paginator_cur_page == 1 %} disabled{% endif %}">
						{% if paginator_cur_page == 1 %}
							<span class="page-link">Previous</span>
						{% else %}
							<button class="page-link" type="submit" name="page" value="{{ paginator_cur_page|add:-1 }}">Previous</button>
						{% endif %}
					</li>
					{% for number in paginator_range_num_pages %}
						{% if paginator_cur_page == number %}
							<li class="page-item active" aria-current="page">
								<span class="page-link">
									{{ number }}
									<span class="sr-only">(current)</span>
								</span>
							</li>
						{% else %}
							<li class="page-item"><button class="page-link" type="submit" name="page" value="{{ number }}">{{ number }}</button></li>
						{% endif %}
					{% endfor %}
					<li class="page-item{% if paginator_cur_page == paginator_range_num_pages|length %} disabled{% endif %}">
						{% if paginator_cur_page == paginator_range_num_pages|length %}
							<span class="page-link">Next</span>
						{% else %}
							<button class="page-link" type="submit" name="page" value="{{ paginator_cur_page|add:1 }}">Next</button>
						{% endif %}
					</li>
					<li class="page-item{% if paginator_cur_page == paginator_range_num_pages|length %} disabled{% endif %}">
						{% if paginator_cur_page == paginator_range_num_pages|length %}
							<span class="page-link">Last</span>
						{% else %}
							<button class="page-link" type="submit" name="page" value="{{ paginator_range_num_pages|length }}">Last</button>
						{% endif %}
					</li>
				</ul>
			</nav>
		</form>
	{% endif %}
{% endblock %}
{% block afterContent %}
	<div class="p-5">{# This is so you can scroll the button out of the way #}
		<a href="{% url 'create_employee' %}" class="btn btn-primary m-3 p-3 position-absolute rounded-circle" data-toggle="tooltip" data-placement="left" title="Add Employee" style="bottom:0; right:0; width:3.5em; height:3.5em">
			<span class="sr-only">Add Employee</span>
			<i class="fas fa-user-plus" aria-hidden="true"></i>
		</a>
	</div>
{% endblock %}