{% extends "admin.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title  %}Account Settings{% endblock %}
{% block header %}Account Settings{% endblock %}

{% block content %}
	{% crispy form %}
{% endblock %}
{% block afterScripts %}
<script type="text/javascript" src="{% static 'crispyFrontendValidator.js' %}"></script>
<script type="text/javascript">
'use strict';
$(()=>{
	$("#{{ form.email.id_for_label }}").tooltip({
		"title":"A validation email will be sent to confirm any changes to the email",
		"placement":"top",
	});
	formIsReady();//The form is now ready
})
</script>{% endblock %}