{% extends extended_file %}
{% load static %}

{% block head %}
<link href="{% static 'css/lightpick.css' %}" rel="stylesheet">
{% endblock %}

{% block title  %}Report Center{% endblock %}
{% block header %}Report Center{% endblock %}

{% block content %}
	{# <!--TODO: scan {{form.errors}}--> #}
	{% if form.selected_employees_list|length > 1 or user_employee%}
		<form id="content" method="post">
			{% csrf_token %}
			<div class="form-row justify-content-center">
				<!--TODO: use proper event binding instead of inline onclick (inline isn't recommended by _anyone_ anymore (not even MS) -->
			</div>
			<div class="form-row">
				<div class="{% if user_employee %}col-lg{% else %}col-lg-9{% endif %}">
					<div class="form-row justify-content-center">
						<div class="btn-group btn-group-sm" role="group">
							<a href="#" class="btn btn-primary" onclick="prev_pay_period('{{ company.pay_period_type }}', '{{ company.period_begin_date }}');"><i aria-hidden="true" class="fas fa-arrow-left mr-2"></i>Prev</a>
							<a href="#" class="btn btn-primary" onclick="get_current_pay_period('{{ company.pay_period_type }}', '{{ company.period_begin_date }}');"><i aria-hidden="true" class="far fa-calendar-alt mr-2"></i>Current Pay Period</a>
							<a href="#" class="btn btn-primary" onclick="next_pay_period('{{ company.pay_period_type }}', '{{ company.period_begin_date }}');">Next<i aria-hidden="true" class="fas fa-arrow-right ml-2"></i></a>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row justify-content-center">
							<!--TODO: disable default dropdown actions-->
							<div class="col">
								<span class="d-block text-center">{{ form.begin_date.label_tag }}</span>
								{{ form.begin_date }}
							</div>
							<div class="col">
								<span class="d-block text-center">{{ form.end_date.label_tag }}</span>
								{{ form.end_date }}
							</div>
						</div>
					</div>
					<div class="form-group">
					  {{ form.report_type.label_tag }}
					  {{ form.report_type }}
					</div>
					<div class="form-group">
						<span>Totals:</span>
						<div class="form-row row-cols-1 row-cols-sm-2 row-cols-lg-3">
							<div class="custom-control custom-checkbox">
							  {{ form.display_day_totals }}
							  <label class="custom-control-label" for="{{ form.display_day_totals.id_for_label }}">{{ form.display_day_totals.label }}</label>
							</div>
							<div class="custom-control custom-checkbox">
							  {{ form.display_week_totals }}
							  <label class="custom-control-label" for="{{ form.display_week_totals.id_for_label }}">{{ form.display_week_totals.label }}</label>
							</div>
							<div class="custom-control custom-checkbox">
							  {{ form.display_employee_totals }}
							  <label class="custom-control-label" for="{{ form.display_employee_totals.id_for_label }}">{{ form.display_employee_totals.label }}</label>
							</div>
							<div class="custom-control custom-checkbox">
							  {{ form.display_grand_totals }}
							  <label class="custom-control-label" for="{{ form.display_grand_totals.id_for_label }}">{{ form.display_grand_totals.label }}</label>
							</div>
							<div class="custom-control custom-checkbox">
							  {{ form.display_employee_pay_total }}
							  <label class="custom-control-label" for="{{ form.display_employee_pay_total.id_for_label }}">{{ form.display_employee_pay_total.label }}</label>
							</div>
							<div class="custom-control custom-checkbox">
							  {{ form.display_grand_pay_total }}
							  <label class="custom-control-label" for="{{ form.display_grand_pay_total.id_for_label }}">{{ form.display_grand_pay_total.label }}</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<span>Signatures:</span>
						<div class="form-row row-cols-1 row-cols-sm-2 row-cols-lg-3">
							<div class="custom-control custom-checkbox">
							  {{ form.add_employee_signature_line }}
							  <label class="custom-control-label" for="{{ form.add_employee_signature_line.id_for_label }}">{{ form.add_employee_signature_line.label }}</label>
							</div>
							<div class="custom-control custom-checkbox">
							  {{ form.add_supervisor_signature_line }}
							  <label class="custom-control-label" for="{{ form.add_supervisor_signature_line.id_for_label }}">{{ form.add_supervisor_signature_line.label }}</label>
							</div>
							<div class="custom-control custom-checkbox">
							  {{ form.add_other_signature_line }}
							  <label class="custom-control-label" for="{{ form.add_other_signature_line.id_for_label }}">{{ form.add_other_signature_line.label }}</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<span>Other:</span>
						<!--TODO: categorize these checkboxes instead of having a swarm of them-->
						<div class="form-row row-cols-1 row-cols-sm-2 row-cols-lg-3">
							<div class="custom-control custom-checkbox">
							  {{ form.display_clock_actions }}
							  <label class="custom-control-label" for="{{ form.display_clock_actions.id_for_label }}">{{ form.display_clock_actions.label }}</label>
							</div>
							<div class="custom-control custom-checkbox">
							  {{ form.display_employee_pay_rate }}
							  <label class="custom-control-label" for="{{ form.display_employee_pay_rate.id_for_label }}">{{ form.display_employee_pay_rate.label }}</label>
							</div>
							<div class="custom-control custom-checkbox">
							  {{ form.display_employee_comments }}
							  <label class="custom-control-label" for="{{ form.display_employee_comments.id_for_label }}">{{ form.display_employee_comments.label }}</label>
							</div>
							<div class="custom-control custom-checkbox">
							  {{ form.other_new_page_for_each_employee }}
							  <label class="custom-control-label" for="{{ form.other_new_page_for_each_employee.id_for_label }}">{{ form.other_new_page_for_each_employee.label }}</label>
							</div>
							<div class="custom-control custom-checkbox">
							  {{ form.other_memo }}
							  <label class="custom-control-label" for="{{ form.other_memo.id_for_label }}">{{ form.other_memo.label }}</label>
							</div>
							<div class="custom-control custom-checkbox">
							{{ form.other_space_on_right }}
						  <label class="custom-control-label" for="{{ form.other_space_on_right.id_for_label }}">{{ form.other_space_on_right.label }}</label>
						</div>
						</div>
						<div class="form-row">
						  {{ form.other_rounding.label_tag }}
						  {{ form.other_rounding }}
						</div>
						<div class="form-row">
						  {{ form.other_hours_format.label_tag }}
						  {{ form.other_hours_format }}
						</div>
						<div class="form-row">
						  {{ form.other_font_size.label_tag }}
						  {{ form.other_font_size }}
						</div>
					</div>
				</div>
				<div class="col-lg card p-0 m-2" style="max-height: 80vh; min-height:0px; height: fit-content; {% if user_employee %}display:none;{% endif %}">
					<div class="card-header">{{ form.selected_employees_list.label }}</div>
					<ul class="list-group list-group-flush" style="overflow:auto">
						{% for check in form.selected_employees_list %}
							{% if forloop.first %}
								<li class="list-group-item p-2">{{ check }}</li>
							{% else %}
								<li class="list-group-item p-2 hide-when-all-checked">{{ check }}</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="form-row justify-content-between">
				<!--TODO: shouldn't have to scroll down to see these buttons...-->
			<button type="submit" class="btn btn-primary"><i aria-hidden="true" class="fas fa-file-alt mr-2"></i>Generate Report</button>
				<button type="reset" class="btn btn-danger"><i aria-hidden="true" class="fas fa-undo mr-2"></i>Reset</button>
			</div>
		</form>
	{% else %}
		<div class="text-center">You don't seem to have any employees. <a href="{% url 'create_employee' %}">Add some?</a></div>
	{% endif %}
{% endblock %}
{% block afterScripts %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script type="text/javascript" src="{% static 'lightpick.js' %}"></script>
	<script type="text/javascript" src="{% static 'pay_period.js' %}"></script>
	<script type="text/javascript">
		/* these variables are required for the pay_period.js document */
		var period_type = '{{ company.pay_period_type }}'
		var period_begin_date = '{{ company.period_begin_date }}'
		var beg_date_field = document.getElementById('id_begin_date')
		var end_date_field = document.getElementById('id_end_date')
		if (!beg_date_field.value){
			var pay_period = get_current_pay_period(period_type, period_begin_date)
			}
		else {
			var pay_period = null
		}

		var picker = new Lightpick({
			field: beg_date_field,
			secondField: end_date_field,
			singleDate: false,
			onSelect: function(start, end){
				var str = '';
				str += start ? start.format('Do MMMM YYYY') + ' to ' : '';
				str += end ? end.format('Do MMMM YYYY') : '...';
			}
		});
		$(document).ready(()=>{
			{% with allEmp=form.selected_employees_list|first %}
				$("#{{ allEmp.id_for_label }}").change(function(){
					if ($(this).prop("checked")){
						$(".hide-when-all-checked").hide()
				  }else{
						$(".hide-when-all-checked").show()
				  }
				}).change()
			{% endwith %}
		})
	</script>
{% endblock %}