{% load crispy_forms_field %}
{# Copied, then modified from crispy forms internals #}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div id="div_{{ field.auto_id }}" class="form-group{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if 'form-horizontal' in form_class %} row{% endif %}{% if form_group_wrapper_class %} {{ form_group_wrapper_class }}{% endif %}{% if form_show_errors and field.errors %} has-danger{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">

        {% if field.label and form_show_labels %}
            <label for="{{ field.id_for_label }}" class="{% if 'form-horizontal' in form_class %}col-form-label {% endif %}{{ label_class }}{% if field.field.required %} requiredField{% endif %}">
                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label>
        {% endif %}

        <div class="{{ field_class }}">
            <div class="input-group">
                <!--{{ crispy_prepended_text|json_script:"hi" }}-->
                <div class="input-group-prepend{% if active %} active{% endif %}{% if input_size %} {{ input_size }}{% endif %}">
                    <div class="input-group-text">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="daily_overtime" class="checkboxinput custom-control-input" id="id_{{ crispy_prepended_text.checkbox }}"{% if crispy_prepended_text.status %} checked{% endif %}>
                            <label class="custom-control-label" for="id_{{ crispy_prepended_text.checkbox }}"></label>
                        </div>
                    </div>
                </div>
                {% crispy_field field %}
                {% if crispy_appended_text %}
                  <div class="input-group-append{% if active %} active{% endif %}{% if input_size %} {{ input_size }}{% endif %}">
                    <span class="input-group-text">{{ crispy_appended_text|safe }}</span>
                  </div>
                {% endif %}
                {% if error_text_inline %}
                    {% include 'crispy-overrides/field_errors.html' %}
                {% else %}
                    {% include 'crispy-overrides/field_errors_block.html' %}
                {% endif %}
            </div>
        {% if not help_text_inline %}
            {% include 'crispy-overrides/help_text.html' %}
        {% endif %}
        </div>

    </div>
{% endif %}
