{% extends template %}
{# view for changing an employee password properly #}

{% block title  %}
	{% if name %}
		Changing Password for {{ name }}
	{% else %}
		Change {% if template == "admin.html" %}Admin {% endif %}Password
	{% endif %}
{% endblock %}
{% block header %}
	{% if name %}
		Changing Password for {{ name }}
	{% else %}
		Change {% if template == "admin.html" %}Admin {% endif %}Password
	{% endif %}
{% endblock %}

{% block content %}
<form id="content" method="post">
	{% csrf_token %}
	<div class="form-group">
		{{ form }}
	</div>
	<div class="form-row justify-content-between">
	  <button type="submit" class="btn btn-primary"><i class="fas fa-check mr-2"></i>Change password</button>
		<button type="button" class="btn btn-danger" id="cancel"><i class="fas fa-times mr-2"></i>Cancel</button>
	</div>
</form>
{% endblock %}

{% block afterScripts %}<script type="text/javascript">
	$(document).ready(()=>{
		$("#cancel").click(function(event){
      window.history.back();
    });
	});
</script>{% endblock %}