{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
{% if error %}
  {% for employee in employees %}
    {% for err in employee.errors %}
      <div class="alert alert-warning alert-dismissible" role="alert">
        {% if not user_employee %}
          <a href="/admin/modify_times/{{ err.employee.id }}/{{ err.link_date }}/" class="close button">Fix</a>
          <div><span class="font-weight-bold">Error:</span> {{ err.Error }}, <span class="font-weight-bold">Employee:</span> {{ employee.name }}, <span class="font-weight-bold">Date:</span> {{ err.print_date }}</div>
        {% else %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div><span class="font-weight-bold">Error:</span> {{ err.Error }}, <span class="font-weight-bold">Employee:</span> {{ employee.name }}, <span class="font-weight-bold">Date:</span> {{ err.print_date }}</div>
        {% endif %}
      </div>
    {% endfor %}
  {% endfor %}
{% endif %}